<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="styles.css" rel="stylesheet">
        <title>Green Tea</title>
    </head>
    <body>
        <h1> Green Tea</h1>
        <h2> About Green Tea</h2>
        <p> Green tea is the oldest form of tea, created from partially oxidized leaves of the  <i>Camellia sinensis</i> plant.
        Green teas are generally light, bright, and grassy/earthy in flavor. Powdered green tea, known as matcha, has become very popular recently for its naturally sweet flavor and bright color.</p>
        <p> Green teas have a moderate amount of caffeine (~30-50 mg per serving), but also contains a compound called L-Theanine, which may have a calming effect.</p>
        <h2> Brewing Instructions</h2>
        <p>Start heating up some water! Since green teas contain delicate flavors, it's best to use cooler water (between 160-180°F, or 75-85°C).
        This brewing temperature can be achieved by boiling water and allowing it to cool for around two minutes, or by using a kettle which allows for more fine-grain temperature control.</p>
        <div class="indented"><h3>Loose leaf</h3>
        <p>Using a strainer or tea filter, measure out about one tablespoon of tea per 8 ounces of water. Pour the hot water over and let steep for 3 minutes.</p>
        <h3>Bagged</h3>
        <p>Simply put your teabag (or two if you'd like a stronger cup!) into your drinking vessel of choice, then fill the cup with water and let steep for 3 minutes.</p></div>
        <h2> Timer </h2>
        <p>In the mood for a <a href="index.html">different cup</a> of tea?</p>
    </body>
</html>
