<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="styles.css" rel="stylesheet">
        <title>Herbal Tea</title>
    </head>
    <body>
        <h1> Herbal Tea</h1>
        <h2> About Herbal Tea</h2>
        <p>Herbal teas, more formally known as tisanes, include any infusions which do not involve the <i>Camellia sinensis</i> plant.
        Many herbal teas have been used as folk-remedies: peppermint tea for a sore throat, ginger tea for an upset stomach, or chamomile tea for insomnia.</p>
        <p>Many herbal teas are naturally caffeine-free, making them a perfect way to relax in the evening!</p>
        <h2> Brewing Instructions</h2>
        <p>Start heating up some water! Most herbal teas should be brewed using boiling water to maximally extract flavor.</p>
        <div class="indented"><h3>Loose leaf</h3>
        <p>Using a strainer or tea filter, measure out about one tablespoon of tea per 8 ounces of water. Pour the hot water over and let steep for 5 minutes.</p>
        <h3>Bagged</h3>
        <p>Simply put your teabag (or two if you'd like a stronger cup!) into your drinking vessel of choice, then fill the cup with water and let steep for 5 minutes.</p></div>
        <h2> Timer </h2>
        <p>In the mood for a <a href="index.html">different cup</a> of tea?</p>
    </body>
</html>