<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet"
href="https://fonts.googleapis.com/css?family=Dawning of a New Day">
<link rel="stylesheet"
href="https://fonts.googleapis.com/css?family=Amatic SC">
<style>
	#message{
		font-family: 'amatic sc';
		font-size: 200%;
		color: white;
	}
	#title{
		font-family: "dawning of a new day";
    	font-weight: bold;
    	font-size: 350% !important;
    	color: white;
	}
	#box
	{
		background-color: #788260;
		padding: 15%;
		border-radius: 10%;
	}
	a
	{
		color: #c6c6d7;
	}
</style>
<head>
    <title>Steep It Together: Confirm your account!</title>
</head>

<body style="background-color: #788260; padding: 15%; border-radius: 10%;">
	<h1 style="font-family: 'dawning of a new day'; font-weight: bold;font-size: 350% !important; color: white;">
	Steep It Together!
	</h1>
	<p style="font-family: 'amatic sc'; font-size: 200%; color: white;">
		You have requested a password reset for your account.
	<br> Please click the link below to reset your password:
	<a style="color: #c6c6d7;" href="{{ reset_url }}">{{ reset_url }}</a>
</p>  

<p style="font-family: 'amatic sc'; font-size: 200%; color: white;">
--<br>
Questions? Comments? Email <a style="color: #c6c6d7;" href="mailto:steepittogether@gmail.com">steepittogether@gmail.com</a>.
</p>

	</body>
</html>
